version: v0.10.1

dsn: postgres://postgres:secret@karima_postgres:5432/kratos?sslmode=disable&max_conns=20&max_idle_conns=4

serve:
  public:
    base_url: http://127.0.0.1:4433/
    cors:
      enabled: true
      allowed_origins:
        - http://127.0.0.1:4455
        - http://localhost:3000
        - http://127.0.0.1:3000
      allowed_methods:
        - POST
        - GET
        - PUT
        - PATCH
        - DELETE
      allowed_headers:
        - Authorization
        - Cookie
        - Content-Type
        - X-Session-Token
      exposed_headers:
        - Content-Type
        - Set-Cookie
  admin:
    base_url: http://127.0.0.1:4434/

selfservice:
  default_browser_return_url: http://127.0.0.1:4455/
  allowed_return_urls:
    - http://127.0.0.1:4455/
    - http://localhost:3000/
    - http://127.0.0.1:3000/

  methods:
    password:
      enabled: true
    # oidc:
    #   enabled: false

  flows:
    error:
      ui_url: http://127.0.0.1:4455/error

    settings:
      ui_url: http://127.0.0.1:4455/settings
      privileged_session_max_age: 15m
      after:
        default_browser_return_url: http://127.0.0.1:4455/

    recovery:
      enabled: true
      ui_url: http://127.0.0.1:4455/recovery
      after:
        default_browser_return_url: http://127.0.0.1:4455/

    verification:
      enabled: true
      ui_url: http://127.0.0.1:4455/verification
      after:
        default_browser_return_url: http://127.0.0.1:4455/

    logout:
      after:
        default_browser_return_url: http://127.0.0.1:4455/login

    login:
      ui_url: http://127.0.0.1:4455/login
      lifespan: 10m
      after:
        default_browser_return_url: http://127.0.0.1:4455/

    registration:
      lifespan: 10m
      ui_url: http://127.0.0.1:4455/registration
      after:
        password:
          hooks:
            - hook: session
        default_browser_return_url: http://127.0.0.1:4455/

# Session configuration
session:
  lifespan: 24h
  cookie:
    domain: 127.0.0.1
    path: /
    same_site: Lax
    name: ory_kratos_session

log:
  level: debug
  format: text
  leak_sensitive_values: true

secrets:
  cookie:
    - dev-cookie-secret-that-is-at-least-32-characters-long-1234
  cipher:
    - dev-cipher-secret-exact-32-chars

identity:
  default_schema_id: default
  schemas:
    - id: default
      url: file:///etc/config/kratos/identity.schema.json

courier:
  smtp:
    connection_uri: smtp://test:test@mailslurper:2500/?skip_ssl_verify=true

# Feature flags
feature_flags:
  use_continue_with_transitions: false
